@include font-face('League Gothic', font-files('LeagueGothic-Regular-webfont.ttf', 'LeagueGothic-Regular-webfont.woff', 'LeagueGothic-Regular-webfont.svg'), 'LeagueGothic-Regular-webfont.eot', normal, normal);
@include font-face('League Gothic Italic', font-files('LeagueGothic-Italic-webfont.ttf', 'LeagueGothic-Italic-webfont.woff', 'LeagueGothic-Italic-webfont.svg'), 'LeagueGothic-Italic-webfont.eot', normal, normal);
@include font-face('Icons', font-files('Impact-Athletic-Regular.ttf', 'Impact-Athletic-Regular.woff', 'Impact-Athletic-Regular.svg'), 'Impact-Athletic-Regular.eot', normal, normal);

%league-gothic {
    font-family: 'League Gothic';
    text-transform: uppercase;
}

html {
    font: {
        family: Arial, Helvetica, serif;
        size: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    @extend %league-gothic;
}

h1 {
    @include rem(4.5); // 72
}

h2, .h2 {
    @include rem(3); // 48
}

h3 {
    @include rem(2.25); // 36
}

h4 {
    @include rem(1.75); // 28
}

h5 {
    @include rem(1.5); // 24
}

h6, .h6 {
    @include rem(1.3125); // 21
}

input {
    @include rem(1);
}

footer {
    @include rem(.75);
}

.icon {
    font-family: 'Icons';
    @include rem(2);
}

.forgot-password {
    @extend %league-gothic;
    text: {
        decoration: underline;
    }
    @include rem(1);
}

.campaign-count {
    color: #a5a5a5;
    @extend %league-gothic;
}
