footer {
    background-color: #414141;
    clear: both;
    height: 125px;
    line-height: 125px;
    margin-top: -108px;
    position: relative;

    a, li {
        color: #767676;
    }

    li {
        display: inline-block;
        margin-left: 12px;
    }
}

.copyright {
    margin-left: 45px;
}
